body {
    margin: 0;            /* Reset default margin */
    background: rgba(185,187,234);
}
video {
    display: block;       /* iframes are inline by default */
    background: rgb(185,187,234);
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}
