header {
    border: 1px solid red; 
} 
footer {
    border: 1px solid blue
}
.intro {
    /* border: 1px solid green;  */
    position: relative; 
}
.arrow-up{
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent; 
    border-bottom: 51.96px solid black; 
    margin: 0%;
}
.arrow-down{
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent; 
    border-top: 51.96px solid black; 
    margin: 0%;
}
/* .D1{
    border: 1px solid purple;
    width: 60px;
    position: absolute;
    left: 20%; 
}
.D2 {
    border: 1px solid purple;
    width: 60px;
    position: absolute;
    left: 20%; 
    top: 450%; 
} */
/* .D3 {
    border: 1px solid purple;
    position: absolute;
    width: 60px;
    left: 30%; 
}
.D4 {
    border: 1px solid purple;
    width: 60px;
    position: absolute;
    width: 60px;
    left: 30%; 
    top: 450%; 
}
.D5 {
    border: 1px solid purple;
    width: 60px;
    position: absolute;
    width: 60px;
    left: 50%; 
}
.D6 {
    border: 1px solid purple;
    width: 60px;
    position: absolute;
    width: 60px;
    left: 50%; 
    top: 450%;  
} */
.pair-1 {
    position: absolute;
    left: 30%; 
}
.pair-2 {
    position: absolute;
    left: 35%; 
    top: 300%; 
}
.pair-3 {
    position: absolute;
    left: 40%; 
}